<div class="devise-container mt-5">
  <h2 class="mb-3 text-white">Editer mon profil <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Actuellement en attente de confirmation pour: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "Laissez-le vide si vous ne souhaitez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-center mb-3 mt-4">
      <%= f.button :submit, "Update", class:"btn btn-primary" %>
    </div>
  <% end %>

  <h3 class="mb-3 mt-2">Annuler mon compte</h3>

  <div class="mb-3 mt-4">Unhappy? <%= button_to "Annuler mon compte", registration_path(resource_name), data: { confirm: "Es-tu sûr?", turbo_confirm: "Es-tu sûr?" }, method: :delete, class:"btn btn-danger" %></div>

  <%= link_to "Retour", :back %>
</div>
