<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @ninja.photo.key, height: 300, crop: :fill %>')"
>
  <div class="card">
    <h1><%=@ninja.name%></h1>
    <p>Description : <%=@ninja.description%></p>
    <div class="d-flex justify-content-end">
      <p>Prix : <%=@ninja.price%> €/mission</p>
    </div>
  </div>
  <div class="card" data-controller="modal">
    <h2>Réserver maintenant</h2>
    <%= render "reservation_form", reservation: @reservation%>
  </div>
</div>
